In [1]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/amankharwal/Website-data/master/dataset.csv')
df.head()

                                                Text  language
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4  de spons behoort tot het geslacht haliclona en...     Dutch

In [8]:
df.groupby('language').count()

            Text
language
Arabic      1000
Chinese     1000
Dutch       1000
English     1000
Estonian    1000
French      1000
Hindi       1000
Indonesian  1000
Japanese    1000
Korean      1000
Latin       1000
Persian     1000
Portugese   1000
Pushto      1000
Romanian    1000
Russian     1000
Spanish     1000
Swedish     1000
Tamil       1000
Thai        1000
Turkish     1000
Urdu        1000

In [150]:
df[df['language'] == 'Chinese']

                                                    Text language
13     胡赛尼本人和小说的主人公阿米尔一样，都是出生在阿富汗首都喀布尔，少年时代便离开了这个国家。胡...  Chinese
110    年月日，參與了「snh第三屆年度金曲大賞best 」。月日，出演由优酷视频，盟将威影视，嗨乐...  Chinese
122    在他们出发之前，罗伯特·菲茨罗伊送给了达尔文一卷查尔斯·赖尔所著《地质学原理》（在南美他得到...  Chinese
151    系列的第一款作品《薩爾達傳說》（ゼルダの伝説）在年月日於日本發行，之後在年內於美國和歐洲地區...  Chinese
227    历史上的柔远驿是为了给琉球贡使及随员提供食宿之所，同时它也成为中琉间商业和文化交流的枢纽。琉...  Chinese
...                                                  ...      ...
21880  这次计划的失败被归咎于军方高层之间缺乏沟通，其中所导致的最严重的问题就是让反动军在登陆时完全...  Chinese
21917  芝加哥大学主校区位于芝加哥市南的海德公园（hyde park）和伍德朗（woodlawn）街...  Chinese
21925  《追风筝的人》（英语：the kite runner，又译“追风筝的孩子”）是美籍阿富汗裔作...  Chinese
21982  戈尔巴乔夫结束了苏共的专制和暴政，使人民获得了民主、法治和自由，并使得东欧国家自主发展，结束...  Chinese
21998  年月，當時還只有歲的她在美國出道，以mai-k名義推出首張英文《baby i like》，由...  Chinese

[1000 rows x 2 columns]

In [9]:
len(df['language'].unique())

22

In [10]:
X = np.array(df['Text'])
y = np.array(df['language'])

In [117]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state=500)
## test_size = 0.33 and radom_state = 100

In [118]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [119]:
cv = CountVectorizer()
X_train_cv = cv.fit_transform(X_train)
X_test_cv = cv.transform(X_test)

In [120]:
tf = TfidfVectorizer()
X_train_tf = tf.fit_transform(X_train)
X_test_tf = tf.transform(X_test)

In [121]:
from sklearn.naive_bayes import MultinomialNB

In [122]:
model = MultinomialNB()
model.fit(X_train_cv, y_train)
model.score(X_test_cv, y_test)

0.9556473829201102

In [123]:
# As it is not making much more sense for not giving equal weitage to every words
model1 = MultinomialNB()
model1.fit(X_train_tf, y_train)
model1.score(X_test_tf, y_test)
# 95.63 on 0.33 and 500

0.95633608815427

In [126]:
import pickle

In [127]:
pickle.dump(cv, open('vectorizer.pkl', 'wb'))

In [128]:
pickle.dump(model, open('model.pkl', 'wb'))

In [130]:
vec = pickle.load(open('vectorizer.pkl', 'rb'))
model = pickle.load(open('model.pkl', 'rb'))

In [169]:
def predict(sentence):
    sentence = np.array([sentence])    
    test = vec.transform(sentence)
    pred = model.predict(test)
    return pred[0]

In [170]:
predict('klement gottwaldi surnukeha palsameeriti ning')

'Estonian'

In [141]:
predict('தமிழ்ச்சங்கத்தை இந்துப்')

'Tamil'

In [142]:
predict('behoort tot het geslacht haliclona')

'Dutch'

In [143]:
predict('हिंदी वाक्य दैनिक वाक्यांश अंग्रेजी अर्थ और उच्चारण के')

'Hindi'

In [144]:
predict('저는 7년 동안 한국에서 살았어요')

'Korean'

In [155]:
predict('公园')

'Chinese'

In [158]:
predict('hyde park')

'Swedish'

In [151]:
predict('the kite runner')

'English'